/*
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */



:root {
    --ifm-color-primary: #9370DB; /* Medium Purple */
    --ifm-color-primary-dark: #7B68EE; /* Medium Slate Blue */
    --ifm-color-primary-darker: #6A5ACD; /* Slate Blue */
    --ifm-color-primary-darkest: #483D8B; /* Dark Slate Blue */
    --ifm-color-primary-light: #BA55D3; /* Medium Orchid */
    --ifm-color-primary-lighter: #DA70D6; /* Orchid */
    --ifm-color-primary-lightest: #D8BFD8; /* Thistle */
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  }
  
  /* For readability concerns, you should choose a lighter palette in dark mode. */
  [data-theme='dark'] {
    --ifm-color-primary: #9370DB; /* Medium Purple */
    --ifm-color-primary-dark: #7B68EE; /* Medium Slate Blue */
    --ifm-color-primary-darker: #6A5ACD; /* Slate Blue */
    --ifm-color-primary-darkest: #483D8B; /* Dark Slate Blue */
    --ifm-color-primary-light: #BA55D3; /* Medium Orchid */
    --ifm-color-primary-lighter: #DA70D6; /* Orchid */
    --ifm-color-primary-lightest: #D8BFD8; /* Thistle */
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  }

p:has(> span.katex:only-child) {
    line-height: 2.4;
}

div>span.katex-display>span.katex {
    line-height: 3.2;
}

.katex-display>.katex {
    white-space: wrap;
} 

.geogebra-container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 5%;
}

img {
    min-width: 150px;
    max-width: 750px; 
}

img.small {
    width: 25%;
    margin: auto 37.5%;
}

img.medium {
    width: 50%;
    margin: auto 25%;
}

img.large {
    width: 75%;
    margin: auto 12.5%;
}

/* src/css/custom.css */
iframe[title="YouTube video player"] {
    width: 75%;
    box-sizing: border-box;
    height: auto;
    padding-right: 12.5%;
    padding-left: 12.5%;
    aspect-ratio: 16 / 9;    
}

#footnote-label {
    border-bottom: 1.4px solid var(--ifm-hr-background-color);
}